table.table.table-bordered.table-striped
  thead
    tr
      th.text-center #{settings.locale.mn_rank}
      th.text-center #{settings.locale.mn_network}
      th.text-center #{settings.locale.mn_version}
      th.text-center #{settings.locale.mn_status}
      th.text-center #{settings.locale.mn_activetime}
      th.text-center #{settings.locale.mn_lastseen}
      th.text-center #{settings.locale.mn_lastpaid}
  tbody
    tr
      td.text-center #{masternode.rank}
      td.text-center #{masternode.network}
      td.text-center #{masternode.version}
      td.text-center #{masternode.status}
      td.text-center #{masternode.activetime}
      td.text-center #{new Date(masternode.lastseen * 1000).toUTCString()}
      td.text-center #{masternode.lastpaid ? new Date(masternode.lastpaid * 1000).toUTCString() : settings.locale.mn_notpaid}